* {
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#signupBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#signupWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

input {
  width: 300px;
  height: 30px;
  padding: 3px;
}

button {
  width: 308px;
  height: 35px;
}