<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../css/boardlist.css">
</head>

<body>
  <div id="listWrap">
    <div class="topText ">
      <h2>BoardList</h2>
      <button>글작성</button>
    </div>
    <ul>
      <li>no</li>
      <li>글 제목</li>
      <li>작성자</li>
      <li>수정</li>
      <li>삭제</li>
    </ul>
  </div>
</body>
<script src="../js/boardlist.js"></script>

</html>