<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/write.css">
</head>

<body>
  <div class="writeWrap">
    <h2>글작성</h2>
    <div class="writebox1">
      <input type="text" placeholder="제목" id="writeTitle">
      <!-- <textarea type="text" placeholder="글작성 하세용" id="writeContent"> -->
      <textarea name="" id="" cols="85" rows="30" id="writeContent"></textarea>
    </div>
    <div class="writebox2">
      <button>취소</button>
      <button>게시</button>
    </div>
  </div>

</body>

</html>