<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="post">
    <label for="">이름</label>
    <input type="text" name="name">
    <label for="">나이</label>
    <input type="text" name="age">
    <label for="">인사말</label>
    <input type="text" name="msg">
    <button>회원가입</button>
  </form>

</body>

</html>