<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <ul>
    <a href="/create">회원가입</a>
    <%if(users.length !==0) {%>
      <% users.forEach((el)=> {%>
        <li>
          <span>
            이름 : <%= el.name %>
              나이 : <%= el.age %>
                인사말 : <%= el.msg %>
          </span>
          <form action="/post_create" method="post">
            <input type="text" name="content">
            <input type="text" name="user_name" value="<%= el.name %>" hidden>
            <button>글 등록</button>
          </form>
        </li>
        <% }) %>
          <% } %>
            <h3>비회원</h3>
            <form action="/post_create" method="post">
              <input type="text" name="content">
              <input type="text" name="user_name">
              <button>글 등록</button>
            </form>
  </ul>

</body>

</html>